* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-inline: auto;
}

.teach {
    font-size: 40px;
    font-family: "Nunito";
    text-align: center;
    margin-top: 80px;
    color: white;
}

.yaga {
    width: 250px;
    height: 250px;
    border: 3px solid red;
}

.spisok {
    font-size: 40px;
    font-family: "Nunito";
    text-align: center;
    color: white;
    margin-top: 50px;
}

.imya {
    width: 140px;
    height: 50px;
    border: 2px solid red;
    position: absolute;
    bottom: -20px;
    left: 55px;
    background-color: #1B262F;
    color: white;
    font-size: 15px;
    font-family: "Nunito";
    text-align: center;
}

.card {
    position: relative;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.to {
    margin-top: 50px;
}

.cards2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.body {
    background-color: #282829;
}

@media screen and (max-width:1000px) {
    .container {
        width: 800px;
        margin-inline: auto;
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .cards2 {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .card{
        margin-top: 50px;
    }
}

@media screen and (max-width:700px) {
    .container {
        width: 500px;
        margin-inline: auto;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-top: 50px;
    }
}
.gojo{
    opacity: 0.1;
}
.mey{
    opacity: 0.1;
}
.maki{
    opacity: 0.1;
}
.nobara{
    opacity: 0.1;
}
.maxito{
    opacity: 0.1;
}
.utaxime{
    opacity: 0.1;
}